.app-content {
    width: 100%;
    height: calc(100vh - 55px);
}

.add-msg-container {
    padding: 20px;

    > input {
        width: calc(80% - 20px);
        margin-right: 20px;
        border-radius: 5px;
        border: 0;
        height: 40px;
        box-shadow: 0 2px 2px rgba(0,0,0,.2)
    }

    > button {
        width: 20%;
        border-radius: 5px;
        border: 0;
        height: 40px;
        box-shadow: 0 2px 2px rgba(0,0,0,.2)
    }
}